#root {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-image: url('/images/bg-header-mobile.svg');
  background-repeat: no-repeat;
  background-color: var(--Desaturated-Dark-Cyan);
  background-size: cover;
  height: 156px;
}

main {
  background-color: var(--Light-Grayish-Cyan-Background);
  padding: 54px 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(91, 164, 164, 0.5);
  -moz-box-shadow: 0px 10px 20px 0px rgba(91, 164, 164, 0.5);
  box-shadow: 0px 10px 20px 0px rgba(91, 164, 164, 0.5);
  border-radius: 6px;
  border-left: 5px solid var(--Desaturated-Dark-Cyan);
  padding: 32px 24px 24px;
  position: relative;
}

.card-img {
  position: absolute;
  width: 48px;
  top: -25px;
}

.card-left {
  border-bottom: 1px solid var(--Dark-Grayish-Cyan);
  padding-bottom: 20px;
}

.card-top {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 24px;

  > span {
    font-size: 14px;
    color: var(--Desaturated-Dark-Cyan);
    font-weight: var(--font-700);
  }
}

.status {
  display: flex;
  gap: 8px;

  span {
    font-size: 14px;
    color: #fff;
    font-weight: var(--font-700);
    padding: 8px;
    border-radius: 999px;
    text-transform: uppercase;
  }

  .new {
    background-color: var(--Desaturated-Dark-Cyan);
  }

  .featured {
    background-color: var(--Very-Dark-Grayish-Cyan);
  }
}

h2 {
  font-size: 14px;
  color: var(--Very-Dark-Grayish-Cyan);
  font-weight: var(--font-700);
}

.info {
  display: flex;
  gap: 24px;
  align-items: center;

  span {
    font-size: 14px;
    color: var(--Dark-Grayish-Cyan);
    font-weight: var(--font-500);
    position: relative;

    &:first-child::before {
      content: '';
    }

    &::before {
      content: '•';
      position: absolute;
      left: -16px;
    }
  }
}

.card_right {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  span {
    font-size: 15px;
    color: var(--Desaturated-Dark-Cyan);
    font-weight: var(--font-700);
    background-color: var(--Light-Grayish-Cyan-Background);
    padding: 10px;
    border-radius: 6px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
