#root {
  margin: 0 auto;
  height: 100%;
}

header {
  background-image: url('/images/bg-header-mobile.svg');
  background-repeat: no-repeat;
  background-color: var(--Desaturated-Dark-Cyan);
  background-size: cover;
  height: 156px;

  @media only screen and (min-width: 890px) {
    background-image: url('/images/bg-header-desktop.svg');
  }
}

.container-main {
  padding: 0 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-filters {
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(91, 164, 164, 0.5);
  -moz-box-shadow: 0px 10px 20px 0px rgba(91, 164, 164, 0.5);
  box-shadow: 0px 10px 20px 0px rgba(91, 164, 164, 0.5);
  padding: 20px;
  margin-top: -28px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 8px;

  @media only screen and (min-width: 890px) {
    max-width: 1110px;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  > button {
    all: unset;
    color: var(--Dark-Grayish-Cyan);
    font-weight: var(--font-500);
    cursor: pointer;
  }
}

.span-filter {
  padding-left: 8px;
  height: 32px;
  background-color: var(--Light-Grayish-Cyan-Background);
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 14px;
  color: var(--Desaturated-Dark-Cyan);
  font-weight: var(--font-700);
  gap: 12px;

  button {
    all: unset;
    cursor: pointer;
  }

  img {
    background-color: var(--Desaturated-Dark-Cyan);

    height: 100%;
    padding: 8px;
    border-radius: 0 6px 6px 0;
  }
}

main {
  padding: 54px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  @media only screen and (min-width: 890px) {
    align-items: center;
  }
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(91, 164, 164, 0.5);
  -moz-box-shadow: 0px 10px 20px 0px rgba(91, 164, 164, 0.5);
  box-shadow: 0px 10px 20px 0px rgba(91, 164, 164, 0.5);
  border-radius: 6px;
  padding: 32px 24px 24px;
  position: relative;
  width: 100%;

  &.featured {
    border-left: 5px solid var(--Desaturated-Dark-Cyan);
  }

  @media only screen and (min-width: 890px) {
    max-width: 1110px;
    align-items: center;
    padding: 32px 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-img {
  position: absolute;
  width: 48px;
  top: -25px;

  @media only screen and (min-width: 890px) {
    position: initial;
    width: 90px;
  }
}

.card-left {
  border-bottom: 1px solid var(--Dark-Grayish-Cyan);
  padding-bottom: 20px;

  @media only screen and (min-width: 890px) {
    display: flex;
    border: 0;
    align-items: center;
    gap: 24px;
    padding-bottom: 0;
  }
}

.card-top {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 24px;

  > span {
    font-size: 14px;
    color: var(--Desaturated-Dark-Cyan);
    font-weight: var(--font-700);

    @media only screen and (min-width: 890px) {
      font-size: 16px;
    }
  }
}

.status {
  display: flex;
  gap: 8px;

  span {
    font-size: 14px;
    color: #fff;
    font-weight: var(--font-700);
    padding: 8px;
    border-radius: 999px;
    text-transform: uppercase;

    @media only screen and (min-width: 890px) {
      font-size: 16px;
    }
  }

  .new {
    background-color: var(--Desaturated-Dark-Cyan);
  }

  .featured {
    background-color: var(--Very-Dark-Grayish-Cyan);
  }
}

h2 {
  font-size: 14px;
  color: var(--Very-Dark-Grayish-Cyan);
  font-weight: var(--font-700);

  @media only screen and (min-width: 890px) {
    font-size: 22px;
    &:hover {
      cursor: pointer;
      color: var(--Desaturated-Dark-Cyan);
    }
  }
}

.info {
  display: flex;
  gap: 24px;
  align-items: center;

  span {
    font-size: 14px;
    color: var(--Dark-Grayish-Cyan);
    font-weight: var(--font-500);
    position: relative;

    @media only screen and (min-width: 890px) {
      font-size: 16px;
    }

    &:first-child::before {
      content: '';
    }

    &::before {
      content: '•';
      position: absolute;
      left: -16px;
    }
  }
}

.card_right {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  @media only screen and (min-width: 890px) {
    margin-top: 0;
    justify-content: flex-end;
  }

  button {
    all: unset;
    font-size: 15px;
    color: var(--Desaturated-Dark-Cyan);
    font-weight: var(--font-700);
    background-color: var(--Light-Grayish-Cyan-Background);
    padding: 10px;
    border-radius: 6px;

    @media only screen and (min-width: 890px) {
      font-size: 17px;
      &:hover {
        cursor: pointer;
        background-color: var(--Desaturated-Dark-Cyan);
        color: #fff;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
